@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Open+Sans:wght@300&display=swap');

body{background-image: linear-gradient(to right,rgb(119, 0, 255),rgb(120, 0, 189));display: flex; justify-content: center;align-items: center;height: 100vh;}


/* =====  formulario ======= */

header{color: rgb(63, 30, 210);text-align: center;font-weight: 900;font-size: 17pt;}

article{font-weight: 900;}



#bloco {
    
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    padding: 15px;
    
    
    
}

form {
    text-align: center;
}


#botao{
    margin-top: 7px;
    text-align: center;
    padding: 5px;
}

#botao:hover{padding: 5px;cursor: pointer;background-color: black;color: aliceblue;}

.lista{width: 90%;padding: 5px;margin: 5px;}

.lista:focus{color: gray;; border-radius: 4px;}

article{padding-top: 10px;}

button{margin-top: 50px;margin-left: 200px;}


/* ======== */